hazelcast.diagnostics.enabled=false
mesh.id=mpvnode
mvpnode.binance.username=john@example.email
mvpnode.binance.apikey=asdjkhflsdhkljhaksdlhjasdhfjkasd
mvpnode.binance.apisecret=Ifid0I7oFrre2C7gkc9wL2CElpZOpasdfasuidfasoifupaousdfouiasd
mvpnode.poloniex.binance.username=john@example.email
mvpnode.poloniex.apikey=5E6NBVB7-RY46AYB2-17YVJ68E-BD2UYSUT
mvpnode.poloniex.apisecret=asdfjlajldhskfhkashdkljalsdffjfhasd31df0f5c9450da9e8b92f7594
mvpnode.bitmex.username=john@example.email
mvpnode.bitmex.apikey=KLSDFGSDFGSDFGSDFG
mvpnode.bitmex.apisecret=ASDFASDASDFASDFkjlhlkhKLJHLKJHl1
mvpnode.yobit.username=john
mvpnode.yobit.apikey=CD52CDaskdjfghakjsdgfkaghjds
mvpnode.yobit.apisecret=sdfgkjhagsdgkjsdghkjagfasjkhd3dd1a32
mvpnode.hitbtc.apikey=asdjfhasdjlkfjhkldasfkasd6cf42
mvpnode.hitbtc.apisecret=sadjhfkhasdfjklhjasd009ecbdda4
mvpnode.hitbtc.username=john@example.email
mvpnode.kucoin.username=john@example.email
mvpnode.kucoin.apikey=dsfjkhaskdhflfbbb
mvpnode.kucoin.apisecret=jsadfkljlasdfhasjdh9341-0413d55ca6e0
mvpnode.keypair.private=bin/Keypair.cmd first line