* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #1a1a1a;
  color: #ffffff;
  height: 100%;
  overflow: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
}

canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
}
